--extra-index-url https://download.pytorch.org/whl/cpu

fastapi
uvicorn
python-multipart
torch
sentence-transformers
scikit-learn
numpy
pandas
pdfplumber
langchain-text-splitters
openai
langfuse
python-dotenv
